#my-styles header{
  background-color: #37cca2;
  height: 220px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}
#my-styles header h1{
  color: #fff;
  font-family: 'mission_scriptregular';
  text-align: center;
  font-size: 90px;
  font-weight: 100;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);

}
#my-styles header h4{
  color: #fff;
  font-weight: 100;
  font-family: 'mission_scriptregular';
  text-align: center;
  padding-bottom: 0px;
  padding-top: 50px;
  font-size: 25px;
}

#my-styles h1, h2, h3, h4, h5{
  font-weight: 100;
  font-family: 'mission_scriptregular';
}
#my-styles .post h1 {
  padding-bottom: 25px;
  font-size: 50px;
}

#my-styles div.posts div.item .post-content p {
  padding: 10px 0px 4px;
  line-height: 30px;
  font-size: 18px;
}

#my-styles div.posts div.item .post-content div {
 padding: 10px 0px 4px;
 line-height: 30px;
 font-size: 18px;
}

#my-styles .post {
  padding-top: 100px;
}