
@font-face {
    font-family: 'mission_scriptregular';
    src: url('https://dl.dropboxusercontent.com/u/19084607/fonts/mission-script-webfont.eot');
    src: url('https://dl.dropboxusercontent.com/u/19084607/fonts/mission-script-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://dl.dropboxusercontent.com/u/19084607/fonts/mission-script-webfont.woff2') format('woff2'),
         url('https://dl.dropboxusercontent.com/u/19084607/fonts/mission-script-webfont.woff') format('woff'),
         url('https://dl.dropboxusercontent.com/u/19084607/fonts/mission-script-webfont.ttf') format('truetype'),
         url('https://dl.dropboxusercontent.com/u/19084607/fonts/mission-script-webfont.svg#mission_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
